@media (max-width: 768px) {
    :root {
        font-size: 12.5px;
    }
}

@media (min-width: 769px) {
    :root {
        font-size: 20px;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 4px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
}

button {
    border: 1px solid;
}

@media (max-width: 768px) {
    button {
        border-radius: 3px;
    }
}

@media (min-width: 769px) {
    button {
        border-radius: 5px;
    }
}

button:enabled {
    cursor: pointer;
}

button,
select,
textarea,
input {
    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    border-color: inherit;
}

select {
    cursor: pointer;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.75rem;
}
h6 {
    font-size: 0.5rem;
}

@media (max-width: 768px) {
    input[type="checkbox"] {
        transform: scale(0.85);
        margin: -0.1em 0;
        transform-origin: center;
    }
}

@media (min-width: 769px) {
    input[type="checkbox"] {
        transform: scale(1.25);
        transform-origin: center;
    }
}
